:root {
	--background-color: #252525;
	--primary-color: #fa8072;
	--secondary-color: #20b2aa;
	--text-body-color: #e5e5e5;
	--text-display-color: #ffffff;
	--un: .75rem;
}

/* reset ---------------------------------------------------------------------*/
a {
	text-decoration: none;
}

body, body * {
	background-color: transparent;
	border: 0;
	border-radius: 0;
	box-sizing: border-box;
	color: inherit;
	font-size: 100%;
	font-family: Roboto, Arial, sans-serif;
	margin: 0;
	padding: 0;
	outline: 0;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

button {
	cursor: pointer;
}

img {
	display: block;
}

/* structural ----------------------------------------------------------------*/
body {
	display: grid;
	grid-template-columns: 1fr minmax(0, calc(65*var(--un))) 1fr;
	gap: 0 var(--un);
}

button, td, tr {
	padding: calc(.6*var(--un)) calc(.8*var(--un));
}

code-viewer {
	padding: 0 calc(0.3*var(--un));
	white-space: pre-wrap;
}

footer {
	grid-column: 1 / 4;
	margin-top: calc(20*var(--un));
}

header {
	align-items: center;
	display: flex;
	flex-flow: row wrap;
	grid-column: 1 / 4;
	height: calc(5*var(--un));
	justify-content: center;
	white-space: nowrap;
}

h1, h2, h3, h4, h5, h6, hr, p {
	margin: 1.19rem 0;
}

main {
	grid-column: 2 / 3;
}

table {
	border-collapse: collapse;
}

.box {
	display: block;
	padding: var(--un);
}

.github-icon {
	position: absolute;
	left: var(--un);
}

.post-link {
	margin: var(--un) 0;
}

/* visual --------------------------------------------------------------------*/
body {
	background-color: var(--background-color);
	color: var(--text-body-color);
}

code-viewer {
	font-size: 90%;
}
code-viewer, code-viewer > * {
	font-family: 'Fira Code', Courier, monospace;
}
code-viewer, .box {
	border: 1px solid rgba(255, 255, 255, 0.3333);
}

h1, h2, h3, h4, h5, h6 {
	color: var(--primary-color);
}

h1 {
	font-size: 140%;
}
h2 {
	font-size: 125%;
}

header {
	color: var(--text-display-color);
	font-size: 120%;
	font-weight: 600;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3333);
}

hr {
	border-bottom: 2px solid var(--primary-color);
}

p {
	hyphens: auto;
	text-align: justify;
}

td, tr {
	border: 1px solid rgba(255, 255, 255, 0.3333);
}

#root {
	opacity: 0;
	transition: opacity .2s ease-in-out;
}

.code-keyword {
	color: var(--secondary-color);
}
.code-data-type {
	color: var(--primary-color);
}
.code-comment {
	color: gray;
}
.code-field {
	color: wheat;
}

.post-link {
	color: var(--text-display-color);
	transition: background-color .05s ease-in-out;
}
.post-link:active {
	background-color: black;
}