:root {
	--background-color: #252525;
	--primary-color: #fa8072;
	--text-body-color: #e5e5e5;
	--text-display-color: #ffffff;
	--un: .75rem;
}

/* reset ---------------------------------------------------------------------*/
a {
	text-decoration: none;
}

body, body * {
	background-color: transparent;
	border: 0;
	border-radius: 0;
	color: inherit;
	font-size: 100%;
	font-family: Roboto, Arial, sans-serif;
	margin: 0;
	padding: 0;
	outline: 0;
	-moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased;
}

/* structural ----------------------------------------------------------------*/
body {
	display: grid;
	grid-template-columns: 1fr minmax(0, calc(65*var(--un))) 1fr;
	gap: var(--un);
}

header {
	grid-column: 1 / 4;
	height: calc(5*var(--un));
	white-space: nowrap;
}

hr {
	margin: 1em 0;
}

main {
	grid-column: 2 / 3;
}

p {
	margin-bottom: 1rem;
	text-align: justify;
	hyphens: auto;
}

.-row {
	display: flex;
	flex-flow: row wrap;
}
.-row.-align-c {
	align-items: center;
	justify-content: center;
}

.github-icon {
	position: absolute;
	left: var(--un);
}
.github-icon > * {
	display: block;
}

.post-link {
	display: block;
	padding: var(--un);
	margin-bottom: var(--un);
}

/* visual --------------------------------------------------------------------*/
body {
	background-color: var(--background-color);
	color: var(--text-body-color);
}

code {
	font-family: 'Fira Code', Courier, monospace;
}

h1 {
	color: var(--primary-color);
	font-size: 140%;
}

header {
	color: var(--text-display-color);
	font-size: 120%;
	font-weight: 600;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3333);
}

hr {
	border-bottom: 2px solid var(--primary-color);
}

#root {
	opacity: 0;
   transition: opacity .2s ease-in-out;
}

.post-link {
	border: 1px solid rgba(255, 255, 255, 0.3333);
	color: var(--text-display-color);
}
.post-link.highlight {
	border-color: var(--primary-color);
}